<ion-view title="Plans" id="page-plans">
    <ion-content class="has-header plans">
        <div class="address">
          <div class="container">
                <div class="address-left">
                  <i class="icon ion-android-pin location"></i>
                </div>
                <div class="address-right">
                  <h3 class="address-caption" id="compareBroadbands-heading3" style="color:#000000;">Address</h3>
                  <div class="address-get-wrap" id="compareBroadbands-markdown6" style="color:#000000;" ng-show="addressSet">
                      <p>{{address.value}}</p>
                  </div>
                  <div class="address-set-wrap" ng-show="!addressSet">
                      <address-selector address="address" directive-control="addressSelectorControl">
                      </address-selector>
                  </div>
                  <div class="address-button-group">
                      <button id="compareBroadbands-button-reset-address"
                              class="button-reset button button-light icon-left ion-android-close"
                              ng-show="addressSet" ng-click="resetAddress()" ui-sref="tabs.compareBroadbands">
                      </button>
                      <button id="compareBroadbands-button-apply-address"
                              class="button-apply button button-light icon-left ion-checkmark"
                              ng-show="!addressSet" ng-click="applyAddress()" ui-sref="tabs.compareBroadbands">
                      </button>
                  </div>
                </div>
        </div>
        </div>

        <div class="prev-next-group">
          <div class="container">
            <div class="row">
                <div class="col col-10">
                    <button id="plans-button-prev-plan" style="color:#00b2c7;" ng-click="prevPlan()"
                            ng-disabled="prevPlanDisabled()"
                            class="button button-light  button-block icon-left ion-android-arrow-back"></button>
                </div>
                <div class="col">
                    <h3 id="plans-heading12" style="color:#000000;text-align:center;">{{planIndex - 0 +
                        1}}/{{plansList.length}}</h3>
                </div>
                <div class="col col-10">
                    <button id="plans-button-next-plan" style="color:#00b2c7;" ng-click="nextPlan()"
                            ng-disabled="nextPlanDisabled()"
                            class="button button-light  button-block icon-right ion-android-arrow-forward"></button>
                </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row plan-top">
            <div class="item-left">
              <div class="plan-image-wrap">
                <img ng-src={{plansList[planIndex].provider.image}} style="width: 100%">
              </div>
            </div>
            <div class="item-right">
              <div class="row">
                  <div ng-class="plansList[planIndex].specialOffer == '' && plansList[planIndex].cashBack == 0 ? 'col-100' : 'col-67'" class="col plan-title-wrap">
                      <h2>{{plansList[planIndex].name}}</h2>
                      <p>{{plansList[planIndex].provider.name}}</p>
                  </div>
                  <div ng-hide="plansList[planIndex].specialOffer == '' && plansList[planIndex].cashBack == 0" class="col col-33 plan-button-wrap">
                      <button class="special-offer-button" id="compareBroadbands-button-special-offer"
                              ng-show="plansList[planIndex].specialOffer !== ''" ng-click="showSpecials()">
                        S
                      </button>
                      <button id="compareBroadbands-button-cashback" class="cashback-button"
                              ng-show="plansList[planIndex].cashBack > 0" ng-click="showSpecials()">
                          <span>
                            {{plansList[planIndex].cashBack | currency : $ : 0}}
                          </span>
                      </button>
                  </div>
              </div>
              <div class="row">
                  <div class="star-count-wrap">
                      <div class="parent-rating-icon icon ion-android-star">
                        <div style="height: {{plansList[planIndex].reverseRating}}%" id="child-rating-icon" class="child-rating-icon icon ion-android-star"></div>
                        <div id="number" class="number-rating">{{plansList[planIndex].rating}}</div>
                      </div>
                  </div>
                  <div class="price-wrap">
                      <p>from</p>
                      <h2>{{plansList[planIndex].price | currency : $ : 2}}</h2>
                  </div>
              </div>
            </div>
          </div>
        </div>


        <div class="plan-sub-top">

          <div class="row">
              <div class="col speed-wrap">
                  <p class="speed-label">speed</p>
                  <div class="plan-conection-type-wrap">
                    <span>{{plansList[planIndex].connectionType}}</span>
                  </div>
                  <h3 class="speed-value">{{plansList[planIndex].speedDnld | number : 0}}/{{plansList[planIndex].speedUpld | number : 0}}
                      Mbps
                  </h3>
              </div>
              <div class="col speed-wrap">
                  <p class="speed-label">data</p>
                  <p class="speed-sub-value">up to</p>
                  <h3 class="speed-value">
                      <span ng-show="plansList[planIndex].maxData > 0">{{plansList[planIndex].maxData}}GB</span>
                      <span ng-show="plansList[planIndex].maxData <= 0">Unlimited</span>
                  </h3>
              </div>
          </div>

        </div>


        <h1 class="options" id="plans-heading13">
            OPTIONS ({{plansList[planIndex].options.length}})</h1>
        <ion-list id="plans-list3">
            <div class="item item-body" id="plans-list-item-container1"
                 ng-class="($index % 2) ? 'item-grey' : ''"
                 ng-repeat="option in plansList[planIndex].options">
                <div class="option-header">
                  <div class="container">
                    <h2 id="plans-heading14">{{option.name}}</h2>
                  </div>
                </div>
                <div class="container option-data">
                  <div class="row">
                      <div class="col option-speed">
                          <p>speed</p>
                          <h3>{{option.speedDnld | number : 0}}/{{option.speedUpld | number : 0}}Mbps</h3>
                      </div>
                      <div class="col option-data">
                          <p>data</p>
                          <h3>
                              <span ng-show="option.data > 0">{{option.data}}GB</span>
                              <span ng-show="option.data <= 0">Unlimited</span>
                          </h3>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col  option-connection-free">
                          <p>connection fee</p>
                          <h3>
                              <span ng-show="option.priceConnection > 0">{{option.priceConnection | currency : $ : 2}}</span>
                              <span ng-show="option.priceConnection <= 0">Free</span>
                          </h3>
                      </div>
                      <div class="col option-termination-free">
                          <p>termination fee</p>
                          <h3>
                              <span ng-show="option.priceTermination > 0">{{option.priceTermination | currency : $ : 2}}</span>
                              <span ng-show="option.priceTermination <= 0">Free</span>
                          </h3>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col option-features">
                          <p>features</p>
                          <h3>
                              <span ng-repeat="feature in option.features">
                                  {{feature}}
                              </span>
                          </h3>
                      </div>
                  </div>
                  <div class="row option-bottom">

                      <div class="col">
                        <div class="option-bottom-wrapper">
                          <div class="parent-rating-icon icon ion-android-star">
                            <div style="height: {{100-option.rating}}%" class="child-rating-icon icon ion-android-star"></div>
                            <div class="number-rating">{{option.rating}}</div>
                          </div>
                          <div style="display: table;">
                            <h3>
                                <span>{{option.price | currency : $ : 2}}</span><span>/mo</span>
                            </h3>
                            <p>
                                <span ng-show="option.contract !== ''">{{option.contract}}</span>
                                <span ng-show="option.contract === ''">No contract</span>
                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <button id="plans-button25" class="button button-block button-purchase" ng-click="showSignUpPage($index)">
                      PURCHASE
                  </button>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
