<ion-view title="Compare Broadbands" id="page-filter">
    <ion-content class="has-header filter">
        <div class="address">
          <div class="container">
                <div class="address-left">
                  <i class="icon ion-android-pin location"></i>
                </div>
                <div class="address-right">
                  <h3 class="address-caption" id="compareBroadbands-heading3" style="color:#000000;">Address</h3>
                  <div class="address-get-wrap" id="compareBroadbands-markdown6" style="color:#000000;" ng-show="addressSet">
                      <p>{{address.value}}</p>
                  </div>
                  <div class="address-set-wrap" ng-show="!addressSet">
                      <address-selector address="address" directive-control="addressSelectorControl">
                      </address-selector>
                  </div>
                  <div class="address-button-group">
                      <button id="compareBroadbands-button-reset-address"
                              class="button-reset button button-light icon-left ion-android-close"
                              ng-show="addressSet" ng-click="resetAddress()">
                      </button>
                      <button id="compareBroadbands-button-apply-address"
                              class="button-apply button button-light icon-left ion-checkmark"
                              ng-show="!addressSet" ng-click="applyAddress()" ui-sref="tabs.compareBroadbands">
                      </button>
                  </div>
                </div>
        </div>
        </div>
        <div class="container">
        <div class="button-tabs-wrap">
          <div id="filter-button-bar-filter" class="button-bar">
              <button id="filter-button-filter-simple" class="button button-block" ng-class="modeButtonClass(false)"
                      ng-click="setAdvancedMode(false)">
                  simple filters
              </button>
              <button id="filter-button-filter-advanced" class="button button-block" ng-class="modeButtonClass(true)"
                      ng-click="setAdvancedMode(true)">
                  advanced filters
              </button>
          </div>
        </div>
        <div class="filter-need-internet" ng-show="!advancedMode">
            <h1 id="filter-heading4" style="color:#000000;text-align:center;">What do you need Internet for?</h1>
            <div class="row">
                <div class="col">
                    <div class="filter-speed-slider-wrap">
                      <div id="filter-speed-slider"></div>
                    </div>
                </div>
                <div class="col col-80">
                    <div class="vertical-filter-wrap">
                        <h3 id="filter-heading5" style="color:#000000;">Web-browsing &amp; Email</h3>
                        <h3 id="filter-heading6" style="color:#000000;">Skype &amp; Music online</h3>
                        <h3 id="filter-heading7" style="color:#000000;">YouTube &amp; Netflix</h3>
                        <h3 id="filter-heading8" style="color:#000000;">Online games</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-horizontal-scroll">
            <h1 id="filter-heading10" style="color:#000000;text-align:center;">Price per month</h1>
            <div class="filter-container">
              <div id="filter-price-slider"></div>
            </div>
            <h1 id="filter-text-pricerange" style="color:#000000;text-align:center;">
                {{priceMin | currency : $ : 0}}
                -
                {{priceMax | currency : $ : 0}}<span ng-show="priceMax >= 200">+</span>
            </h1>
        </div>
        <div class="filter-horizontal-scroll" ng-show="advancedMode">
            <h1 id="filter-heading12" style="color:#000000;text-align:center;">Download speed</h1>
            <div class="filter-container">
              <div id="filter-download-slider"></div>
            </div>
            <h1 id="filter-text-downloadrange" style="color:#000000;text-align:center;">
                {{speedDnldMin | number : 0}}
                -
                {{speedDnldMax | number : 0}}<span ng-show="speedDnldMax >= 100">+</span>Mbps
            </h1>
        </div>
        <div class="filter-horizontal-scroll" ng-show="advancedMode">
            <h1 id="filter-heading13" style="color:#000000;text-align:center;">
                Data per month</h1>
            <div class="filter-container">
              <div id="filter-data-slider"></div>
            </div>
            <h1 id="filter-text-datarange" style="color:#000000;text-align:center;">
                {{dataMin | number : 0}}
                -
                <span ng-show="dataMax < 200">{{dataMax | number : 0}}</span><span
                    ng-show="dataMax >= 200">Unlimited</span><span ng-show="dataMax < 200">GB</span>
            </h1>
        </div>
        <div ng-show="providers.length > 0">
            <h1 id="filter-heading15" style="color:#000000;text-align:center;">Provider</h1>
            <h2 ng-repeat="provider in providers">
                {{provider.name}}
            </h2>
        </div>
        <div class="filter-button-group">
            <h1 id="filter-heading9" style="color:#000000;text-align:center;">Extras</h1>
            <button style="color:#36ADCA;" class="button button-block" ng-repeat="extra in extrasList"
                    ng-class="extraButtonClass($index)" ng-click="extraButtonClick($index)">
                {{extra.name}}
            </button>
        </div>
        <div class="filter-button-group" ng-show="advancedMode">
            <h1 id="filter-heading14" style="color:#000000;text-align:center;">Contract</h1>
            <button style="color:#36ADCA;" class="button button-block" ng-repeat="option in contractOptions"
                    ng-class="contractOptionButtonClass($index)" ng-click="contractOptionButtonClick($index)">
                {{option.name}}
            </button>
        </div>
        <div class="filter-button-group">
            <h1 id="filter-heading11" style="color:#000000;text-align:center;">Connection</h1>
            <button style="color:#36ADCA;" class="button button-block" ng-repeat="option in connectionOptions"
                    ng-class="connectionOptionButtonClass($index)" ng-click="connectionOptionButtonClick($index)">
                {{option.name.label}}
            </button>
        </div>
        <div class="filter-button-wrap">
            <button ui-sref="tabs.compareBroadbands" id="filter-button-compare"
                class="button button-block filter-apply" ng-click="applyFilter()">
            COMPARE
        </button>
        <button id="filter-button-reset" class="button button-block filter-reset" ng-click="resetFilter()">
            reset filters
        </button>
        </div>
        </div>
    </ion-content>
</ion-view>
