<ion-view title={{provider.name}} id="page-provider">
    <ion-content class="has-header provider">
        <div class="provider-image-wrap">
            <img ng-src={{provider.image}} width="" height=""
                 style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="provider-button-plan-count-wrap">
          <button id="provider-plans-button" ui-sref="tabs.compareBroadbands" class="button button-positive provider-button-plan-count"
                  ng-click="applyProvider()">
              {{provider.plansCount}} PLANS
          </button>
        </div>
        <p class="provider-motto">
          Ultra-fast Fibre Broadband
        </p>
        <div class="provider-description" id="provider-description" style="color:#000000;" ng-bind-html="provider.addInfo.description">
        </div>
        <div class="provider-website-button-wrap">
          <button id="provider-website-button" class="button button-stable" ng-click="openWebsite()">
              VISIT WEBSITE
          </button>
        </div>
    </ion-content>
</ion-view>
