<ion-view title={{provider.name}} id="page-provider">
    <ion-content padding="true" class="has-header">
        <div>
            <img ng-src={{provider.image}} width="" height=""
                 style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <button id="provider-plans-button" ui-sref="tabs.compareBroadbands" class="button button-positive  button-block"
                ng-click="goToPlans()">
            {{provider.plansCount}} PLANS
        </button>
        <h3 id="provider-slogan" style="color:#000000;">{{provider.addInfo.slogan}}</h3>
        <div id="provider-description" style="color:#000000;">
            <p>Lorem ipsum crap...{{provider.addInfo.description}}</p>
        </div>
        <button id="provider-website-button" class="button button-stable  button-block" ng-click="openWebsite()">
            VISIT WEBSITE
        </button>
    </ion-content>
</ion-view>